$colors: (
  black: (
    900: #222222,
    800: #666666,
    700: #757575,
    650: #878787,
    600: #919191,
    500: #c4c4c4,
    400: #dcdcdc,
    200: #f5f5f5,
    100: #f9f9f9,
    50: #fafafa,
    0: #ffffff,
  ),
  primary: (
    DEFAULT: #444444,
    middle: #e0e0e0,
    thin: #eeeded,
  ),
  warn: (
    DEFAULT: #b40000,
  ),
  brand: (
    DEFAULT: #21b185,
    dark: #20a17a,
    light: #e9f8f3,
  ),
  assist: (
    blue: #268cc8,
  ),
);

$fontSize: (
  h1: 48px,
  h2: 40px,
  h3: 32px,
  h4: 24px,
  h5: 20px,
  h6: 18px,
  body1: 16px,
  body2: 14px,
  caption: 12px,
);

$itemIndex: (
  sidebar: 100,
  header: 100,
  modal: 150,
  modal-confirm: 200,
);
