@mixin color($className, $color) {
  .text-#{$className} {
    color: $color;
  }
  .disabled\:text-#{$className}:disabled {
    color: $color !important;
  }
  .bg-#{$className} {
    background-color: $color;
  }
  .disabled\:bg-#{$className}:disabled {
    background-color: $color !important;
  }
  .placeholder-#{$className}::placeholder {
    color: $color;
    opacity: 1;
  }
  .border-#{$className} {
    border-color: $color;
  }
}

@each $name, $colorMap in $colors {
  @each $subName, $color in $colorMap {
    @if $subName == DEFAULT {
      @include color($name, $color);
    } @else {
      @include color(#{$name}-#{$subName}, $color);
    }
  }
}
