@each $name, $size in $fontSize {
  .placeholder-text-#{$name}::placeholder {
    font-size: $size;
    line-height: $size;
  }
  .text-#{$name} {
    font-size: $size;
    line-height: $size;
  }
}

@for $i from 0 through 10 {
  $value: 1 + $i/10;

  $mode10: $i%10;
  $className: 0;

  @if $mode10 == 0 {
    $className: $value;
  } @else {
    $className: floor($value) + \.+ $i;
  }

  .line-height-#{$className} {
    line-height: $value;
  }
  .placeholder-line-height-#{$className}::placeholder {
    line-height: $value;
  }
}
