[submodule "packages/platform-web-sdk/SwaggerFrontierPlatformWebAPI"]
	path = packages/platform-web-sdk/SwaggerFrontierPlatformWebAPI
	url = https://gitlab.com/Frontier.cool/SwaggerDoc/SwaggerFrontierPlatformWebAPI.git

[submodule "packages/i18n/platform-i18n"]
	path = packages/i18n/platform-i18n
	url = https://gitlab.com/Frontier.cool/Frontier/Platform/platform-i18n.git
